.app {
  height: 100vh;
}


/* Hlavní Swiper */
.main-swiper {
width: 80%;
max-width: 800px;
max-height: 400px;
--swiper-theme-color: #ffffff;
--swiper-navigation-color: #ffffff;
--swiper-pagination-color: #ffffff;
}

/* Obrázky */
.picture__image {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
margin: auto;
}

/* Náhledový Swiper */
.swiper-thumbs {
width: 80%;
max-width: 800px;
height: 100px;
margin-top: 20px;
}

.picture-thumb {
opacity: 0.4;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}

.picture-thumb.swiper-slide-thumb-active {
opacity: 1;
}

.picture-thumb img {
width: 100%;
object-fit: cover;
}