.hamburger-zone {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 42px;
  right: 0;
  background-color: black;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.hamburger-zone.active {
  max-height: 500px; /* nastav vyšší než očekávaná výška obsahu */
  opacity: 1;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  border-top: 1px solid #ccc;
}

.navigation a {
  display: flex;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

@media (min-width: 670px) {
  .header__menu {
    display: none;
  }

  .hamburger-zone {
    display: flex;
    position: static;
    max-height: none; 
    opacity: 1; 
    background-color: transparent; 
    box-shadow: none; 
    width: auto; 
    justify-content: flex-end; 
    gap: 1em; 
  }
  .navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigation a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 0.5em 1em;
  }
  .navigation li {
  border-top: none
  }
}
