.faction-select {
  background-color: #2D2D2D;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.faction-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.faction-icons img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #444;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.faction-icons img:hover {
  transform: scale(1.1);
}

.faction-content {
  background-color: #2D2D2D;
  margin: 0.5rem;
  padding: 1rem;
}

.faction-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.faction-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.category {
  margin-bottom: 2rem;
}

.weapon-card {
  grid-template-columns: 1fr 1fr;
  background-color: #1E1E1E;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #444;
}
.weapon__image-container {
    width: 100%;
    height: auto;
}
.weapon__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.weapon-info {
  display: flex;
  flex-direction: column;
}
.weapon-info p {
    padding: 0;
}
.weapon-info__stats {
    padding-bottom: 1rem;
}

.weapon-info h5 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  color: #fff;
}
.faction-btn.active {
  outline: 2px solid yellow;
}
@media (min-width: 670px) {
    .weapon-info__description {
        display: flex;
        justify-content: space-between;
    }

}
