/* style.css */

/* Globální styly */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1E1E1E;
    color: white;
  }
  h1, h2, h3{
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }
  p {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }
  
  /* Header */
  .header {
    background-color: #000000;
    height: 42px;
    display: flex;
    align-items: center;
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header__logo-container {
    height: 42px;
  }
  
  .header__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .header__title {
    font-size: 13px;
    color: white;
    margin: 0;
    white-space: nowrap;
  }
  
  .header__menu {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  .banner {
    height: 300px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .banner__image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }


  /* Footer */
  .footer {
    background-color: #000000;
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
  }
  .footer__text {
    color: white;
    margin: 0;
  }
  
  /* Obsah hlavní stránky */
  .main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .main section {
    background-color: #2D2D2D;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .intro__platforms {
    padding-bottom: 0.5rem;
  }
  .intro__platforms-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.25rem;
  }
  .intro__buttons {
    background-color: #585858;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 5px;
  }
  .button {
    background-color: #262626;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }
  