/* style.css */

/* Globální styly */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #1E1E1E;
    color: white;
    min-height: 100vh;
  }
  h1, h2, h3{
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }
  .page__title {
    margin: 20px;
    text-align: center;
  }
  ul {
    margin: 0;
    padding-bottom: 1rem;
  }


  /* Header */
  .header {
    background-color: #000000;
    height: 42px;
    display: flex;
    align-items: center;
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header__logo-container {
    height: 42px;
  }
  
  .header__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .header__title {
    font-size: 13px;
    color: white;
    margin: 0;
    white-space: nowrap;
  }
  
  .header__menu {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  .banner__image-container {
    height: 300px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .banner__image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  .news__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .news__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .news__list {
    margin: 0;
  }
  .news__image-container {
    height: 200px;
    overflow: hidden;
  }
  .news__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
  }


  /* Footer */
  .footer {
    background-color: #000000;
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
  }
  .footer__text {
    color: white;
    margin: 0;
    padding: 0;
  }
  
  /* Obsah hlavní stránky */
  .main {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  section {
    background-color: #2D2D2D;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem;
  }
  .intro__platforms {
    padding-bottom: 0.5rem;
  }
  .intro__platforms-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.25rem;
  }
  .intro__buttons {
    background-color: #585858;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 5px;
  }
  .button {
    background-color: #262626;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }
  .trailer {
    min-height: 200px;
  }
  .trailer__video-container {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .trailer__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .tutorial-section__headline {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  .tutorial__image-container {
    width: 90%;
    max-width: 800px;
    padding-bottom: 10px;
  }
  .tutorial__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .clickable-image {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  transition: 0.3s;
}

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 9999;
  margin: 0;
  padding: 0;
}

@media (min-width: 700px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
  }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  h2 {
    padding-bottom: 1rem;
    text-align: center;
  }
  .main section {
    margin: 0;
  }

  .banner__image-container {
    grid-column: 1 / 5;
    grid-row: 1;
    height: auto;
  }
  .banner__image {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .intro {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .about {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  .news {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .trailer {
    grid-column: 3 / 5;
    grid-row: 3;
  }
  .trailer__video-container {
    height: 250px;
  }
}
@media (min-width: 980px){
  .header {
    height: 60px;
  }
  .header__title {
    font-size: 1.5rem;
  }
  .header__logo-container {
    height: 60px;
  }
  .main {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .banner__image-container {
    grid-column: span 2;
    grid-row: 1;
  }
  .intro {
    grid-column: 3;
    grid-row: 1;
  }

  .about {
    grid-column: 1;
    grid-row: 2;
  }

  .news {
    grid-column: 2;
    grid-row: 2;
  }

  .trailer {
    grid-column: 3;
    grid-row: 2;
  }
}
@media (min-width: 1200px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .banner__image-container {
    grid-column: span 2;
    grid-row: 1;
  }
  .intro {
    grid-column: 3;
    grid-row: 1;
  }

  .about {
    grid-column: 4;
    grid-row: 1;
  }

  .news {
    grid-column: 2;
    grid-row: 2;
  }

  .trailer {
    grid-column: 3;
    grid-row: 2;
  }
  p {
    font-size: 1.2rem;
  }

  .button {
    padding: 0.7rem 1.2rem;
  }
}
